<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Telecom Suite">

	<listeners>
		<listener
			class-name="com.telecom.extentreportlistener.ExtentTestListener" />
	</listeners>

	<test name="Contact List API Testing">
		<classes>
			<class name="com.telecom.testcases.ContactListApplicationTest" />
		</classes>
	</test>

</suite>